<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grammy.myapp.mapper.TB_PurchaseMapper">

<!-- 게시판 목록 -->
<select id="AllList" resultType="com.grammy.myapp.domain.TB_PurchaseVO">
	select purchase_seq,purchase_title,purchase_content,purchase_date,purchase_cnt,user_id,user_name from TB_purchase order by purchase_seq desc
</select>
<!-- 게시판 상세내용 -->
<select id="DetailContent" resultType="com.grammy.myapp.domain.TB_PurchaseVO" >
	select * from TB_purchase where purchase_seq =#{purchase_seq}
</select>

<!-- 게시판 삭제 -->
<delete id="DeletePurchase" parameterType="int">
	delete from TB_Purchase where purchase_seq=#{purchase_seq}
</delete>
<!-- 게시판 업데이트 -->
<update id="UpdatePurchase" parameterType="com.grammy.myapp.domain.TB_PurchaseVO">
update TB_purchase set purchase_title=#{purchase_title},purchase_content=#{purchase_content} where purchase_seq=#{purchase_seq} 
</update>
<!-- 게시판 작성 -->
<insert id="InsertPurchase" parameterType="com.grammy.myapp.domain.TB_PurchaseVO">
insert into TB_purchase(purchase_seq,
    purchase_title, 
    purchase_content, 
    purchase_date, 
    purchase_cnt, 
    user_id,
    user_name) values(
    tb_purchase_SEQ.nextval,
    #{purchase_title}, 
    #{purchase_content}, 
    sysdate, 
    0, 
    #{user_id},
    #{user_name}
    ) 
</insert>
<!-- 조회수 증가 -->
<update id="viewCount" parameterType="com.grammy.myapp.domain.TB_PurchaseVO">
update TB_purchase set purchase_cnt=purchase_cnt+1 where purchase_seq=#{purchase_seq}
</update>

<!-- 댓글리스트 가져오기 -->
<select id="ReplyList" parameterType="int" resultType="com.grammy.myapp.domain.TB_P_ReplyVO">
select pr_seq,pr_content,pr_date,user_id,user_name from tb_p_reply where purchase_seq=#{purchase_seq} order by pr_seq desc
</select>
<!-- 댓글수정 -->
<update id="UpdateReply" parameterType="com.grammy.myapp.domain.TB_P_ReplyVO">
update tb_p_reply set pr_content=#{pr_content} where pr_seq=#{pr_seq}
</update>
<!-- 댓글작성 -->
<insert id="InsertReply" parameterType="com.grammy.myapp.domain.TB_P_ReplyVO">
insert into tb_p_reply(pr_seq,purchase_seq,pr_content,pr_date,user_id,user_name) values(tb_p_reply_SEQ.nextval,#{purchase_seq},#{pr_content},sysdate,#{user_id},#{user_name})
</insert>
<!-- 댓글 삭제 -->
<delete id="DeleteReply" parameterType="int">
delete from tb_p_reply where pr_seq=#{pr_seq}
</delete>

</mapper>