<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.GramyUserVO_Mapper">

	<!-- 회원가입 SQL문 -->
	<insert id="GramyUserJoin" parameterType="kr.smhrd.model.GramyUserVO">
		insert into tb_user values(tb_user_seq.nextval, #{user_id}, #{user_pw}, #{user_phone}, #{user_addr}, 'user', sysdate, #{user_name}, #{user_gender})
	</insert>
	
	<!-- 로그인 SQL문 -->
	<select id="GramyUserLogin" resultType="kr.smhrd.model.GramyUserVO" parameterType="kr.smhrd.model.GramyUserVO" >
		select * from tb_user where user_id = #{user_id} and user_pw = #{user_pw}
	</select>

</mapper>